.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.films-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.characters__list {
    margin: 0;
    padding-left: 10px;
}